Repository Gryshchenko/finance_app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -c, eslint, bash -c 'pnpm type-check'

clean up
  src/helper/responseBuilder/ResponseBuilder.ts
  src/interfaces/IUserRoleDataAccess.ts
  src/middleware/ensureGuest.ts
  src/middleware/tokenVerify.ts
  src/routes/profile.ts
  src/services/profile/ProfileDataAccess.ts
  src/services/registration/UserRegistrationService.ts
  src/services/session/SessionService.ts
  src/services/translations/Translations.ts
  src/utils/Utils.ts
Due: prettier -c, eslint, bash -c 'pnpm type-check'

fix fetchUserDetails
  src/services/user/UserDataAccess.ts
Due: prettier -c, eslint, bash -c 'pnpm type-check'

clean
  src/utils/scripts/translations.js
Due: prettier -c, eslint, bash -c 'pnpm type-check'

add tests
  package-lock.json
  package.json
  src/services/emailConfirmation/EmailConfirmationDataAccess.ts
  test/routes/auth/auth.test.ts
  tests/databaseConnection/databaseConnection.test.ts
  tests/initializeDatabase.js
  tests/knexfile.js
  tests/registration/confirmEmail.test.ts
  tests/registration/createUser.test.ts
  tests/setup.js
  tests/setupTestDB.js
Due: prettier -c, eslint, bash -c 'pnpm type-check'

add tests
  tests/initializeDatabase.js
  tests/knexfile.js
  tests/setup.js
  tests/setupTestDB.js
Due: prettier -c

tests
  .env.tests
  dump.rdb
  jest.config.js
  jest.setup.ts
  logfile
  package-lock.json
  package.json
  src/app.ts
  src/routes/register.ts
  src/services/emailConfirmation/EmailConfirmationDataAccess.ts
  src/services/session/SessionService.ts
  src/utils/scripts/db_init.js
  src/utils/scripts/remove_postgres.js
  src/utils/scripts/setup_postgres.js
  tests/TestsUtils..ts
  tests/registration/createUser.test.ts
Due: prettier -c, eslint, bash -c 'pnpm type-check'

tests
  tests/registration/createUser.test.ts
Due: prettier -c

add more tests
  src/routes/register.ts
  src/utils/scripts/remove_postgres.js
  src/utils/scripts/setup_postgres.js
  src/utils/validation/routesInputValidation.ts
  src/utils/validation/signupValidationRules.ts
  tests/databaseConnection/databaseConnection.test.ts
  tests/registration/confirmEmail.test.ts
  tests/registration/createUser.test.ts
  tsconfig.json
Due: prettier -c, eslint, bash -c 'pnpm type-check'

add tests
  src/services/registration/UserRegistrationService.ts
  src/services/translations/TranslationsUtils.ts
  src/types/ErrorCode.ts
  src/utils/scripts/db_init.js
  src/utils/validation/routesInputValidation.ts
  src/utils/validation/signupValidationRules.ts
  src/utils/СurrencyUtils.ts
  tests/registration/createUser.test.ts
Due: prettier -c, eslint, bash -c 'pnpm type-check'

clean up
  .eslintrc.js
  .github/workflows/code_quality.yml
  .husky/pre-commit
  .lintstagedrc
  README.md
  package-lock.json
  package.json
  src/locales/en-US.json
  src/routes/register.ts
  src/services/registration/UserRegistrationService.ts
  src/types/TranslationKey.ts
  src/utils/Utils.ts
  src/utils/scripts/db_init.js
  src/utils/scripts/translations.js
  src/utils/validation/routesInputValidation.ts
  src/utils/СurrencyUtils.ts
  tests/registration/createUser.fuzzer.test.ts
  tests/registration/createUser.test.ts
  tsconfig.json
Due: prettier -c, eslint, bash -c 'pnpm type-check'

add tests
  .env.tests
  jest.config.js
  jest.setup.ts
  package.json
  src/interfaces/IDatabaseConnection.ts
  src/interfaces/IEmailConfirmationDataAccess.ts
  src/interfaces/IEmailConfirmationService.ts
  src/interfaces/IProfileDataAccess.ts
  src/interfaces/IProfileService.ts
  src/interfaces/IUserDataAccess.ts
  src/interfaces/IUserRoleDataAccess.ts
  src/interfaces/IUserRoleService.ts
  src/interfaces/IUserService.ts
  src/repositories/DatabaseConnection.ts
  src/repositories/UnitOfWork.ts
  src/routes/profile.ts
  src/services/emailConfirmation/EmailConfirmationDataAccess.ts
  src/services/emailConfirmation/EmailConfirmationService.ts
  src/services/profile/ProfileDataAccess.ts
  src/services/profile/ProfileService.ts
  src/services/registration/UserRegistrationService.ts
  src/services/registration/UserRegistrationServiceBuilder.ts
  src/services/user/UserDataAccess.ts
  src/services/user/UserService.ts
  src/services/userRole/UserRoleDataAccess.ts
  src/services/userRole/UserRoleService.ts
  tests/registration/createUser.createConfirmationMail.test.ts
  tests/registration/createUser.createProfile.test.ts
  tests/registration/createUser.createRole.test.ts
  tests/registration/createUser.test.ts
Due: prettier -c, eslint, bash -c 'pnpm type-check'

add categories,accounts, incomes on signup
  src/config/create_user_initial.ts
  src/config/currency_initial.ts
  src/config/user_initial.ts
  src/interfaces/IAccountDataAccess.ts
  src/interfaces/IAccountService.ts
  src/interfaces/ICategoryDataAccess.ts
  src/interfaces/ICategoryService.ts
  src/interfaces/IGroupDataAccess.ts
  src/interfaces/IGroupService.ts
  src/interfaces/IIncomeDataAccess.ts
  src/interfaces/IIncomeService.ts
  src/interfaces/IUserRoleDataAccess.ts
  src/interfaces/IUserRoleService.ts
  src/locales/en-US.json
  src/middleware/ensureGuest.ts
  src/middleware/sessionVerify.ts
  src/middleware/tokenVerify.ts
  src/routes/auth.ts
  src/services/account/AccountDataAccess.ts
  src/services/account/AccountService.ts
  src/services/category/CategoryDataAccess.ts
  src/services/category/CategoryService.ts
  src/services/group/GroupDataAccess.ts
  src/services/group/GroupService.ts
  src/services/income/IncomeDataAccess.ts
  src/services/income/IncomeService.ts
  src/services/profile/ProfileDataAccess.ts
  src/services/registration/UserRegistrationService.ts
  src/services/session/SessionService.ts
  src/services/userRole/UserRoleDataAccess.ts
  src/services/userRole/UserRoleService.ts
  src/types/TranslationKey.ts
  src/utils/scripts/db_init.js
  tests/registration/createUser.fuzzer.ts
  tests/registration/createUser.test.ts
Due: prettier -c, eslint, bash -c 'pnpm type-check'

replace random on generateSecureRandom
  tests/TestsUtils..ts
  tests/registration/createUser.argon.test.ts
  tests/registration/createUser.createConfirmationMail.test.ts
  tests/registration/createUser.createProfile.test.ts
  tests/registration/createUser.createRole.test.ts
  tests/registration/createUser.fuzzer.ts
  tests/registration/createUser.test.ts
Due: prettier -c

clean up
  src/helper/logger/LoggerBase.ts
  src/services/emailConfirmation/EmailConfirmationService.ts
  src/services/profile/ProfileDataAccess.ts
  src/services/translations/Translations.ts
  src/services/user/UserService.ts
  src/utils/Utils.ts
  tests/registration/createUser.argon.test.ts
  types.d.ts
Due: prettier -c, eslint, bash -c 'pnpm type-check'

add coverage
  sonar-project.properties
Due: none

sonar config
  .github/workflows/build.yml
  jest-coverage/index.html
  jest-coverage/lcov-report/index.html
  jest-coverage/lcov.info
  package.json
  sonar-project.properties
  types.d.ts
Due: prettier -c

sonar config
  .github/workflows/build.yml
  .prettierignore
Due: prettier -c

sonar config
  .github/workflows/build.yml
Due: prettier -c

remove code quality
  .github/workflows/code_quality.yml
Due: prettier -c

fix github action
  .github/workflows/build.yml
Due: prettier -c

fix github action 2
  .github/workflows/build.yml
Due: prettier -c

fix github action 3
  .github/workflows/build.yml
Due: prettier -c

adjust sonar properies
  sonar-project.properties
  src/services/user/UserService.ts
Due: prettier -c, eslint, bash -c 'pnpm type-check'

add cert for sonar
  .gitignore
  cert.pem
  src/config/config.ts
Due: prettier -c, eslint, bash -c 'pnpm type-check'

remove cert
  .gitignore
  cert.pem
  src/config/config.ts
Due: prettier -c, eslint, bash -c 'pnpm type-check'

skip new test
  .github/workflows/build.yml
Due: prettier -c

covarage
  sonar-project.properties
Due: none

coverage
  .github/workflows/build.yml
  sonar-project.properties
Due: prettier -c

coverage
  sonar-project.properties
Due: none

dublication
  sonar-project.properties
Due: none

Path conditions:
  prettier -c: any of: *.{ts,js,jsx,tsx,css,scss,json,yml,html}
  eslint: any of: src/**/*.{ts,tsx,js,jsx}
  bash -c 'pnpm type-check': any of: src/**/*.{ts,tsx,js,jsx}
